# Ignore raw data folder
raw/

# Ignore machine learning model files and checkpoints
Fin_Models/

# Ignore Python cache
__pycache__/

# Ignore Python virtual environment
.venv/
.env

# Ignore VSCode workspace/settings (optional)
.vscode/
